CIAM/Ciam.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSPY v5 rel. 2 U (http://www.xmlspy.com) by Son H. Kim (JGCRI) -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:element name="scenario">
		<xs:annotation>
			<xs:documentation>This is the scenario class</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="summary" type="xs:string"/>
				<xs:element name="modeltime">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="startyear" type="xs:integer"/>
							<xs:element name="interyear1" type="xs:integer"/>
							<xs:element name="interyear2" type="xs:integer"/>
							<xs:element name="endyear" type="xs:integer"/>
							<xs:element name="timestep1" type="xs:integer"/>
							<xs:element name="timestep2" type="xs:integer"/>
							<xs:element name="timestep3" type="xs:integer"/>
							<xs:element name="popbegin" type="xs:integer"/>
							<xs:element name="dataend" type="xs:integer"/>
							<xs:element name="datatimestep" type="xs:integer"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="world">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="region" maxOccurs="unbounded">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="demographics">
											<xs:annotation>
												<xs:documentation/>
											</xs:annotation>
											<xs:complexType>
												<xs:sequence>
													<xs:element name="population" maxOccurs="unbounded">
														<xs:complexType>
															<xs:sequence>
																<xs:element name="year" type="xs:integer"/>
																<xs:element name="total" type="xs:integer"/>
																<xs:element ref="datainfo"/>
															</xs:sequence>
														</xs:complexType>
													</xs:element>
													<xs:element name="laborproductivity" maxOccurs="unbounded">
														<xs:annotation>
															<xs:documentation>Growth rate</xs:documentation>
														</xs:annotation>
														<xs:complexType>
															<xs:sequence>
																<xs:element name="year" type="xs:integer"/>
																<xs:element name="growthrate" type="xs:float"/>
																<xs:element ref="datainfo"/>
															</xs:sequence>
														</xs:complexType>
													</xs:element>
													<xs:element name="laborforce" maxOccurs="unbounded">
														<xs:annotation>
															<xs:documentation>Participation rate</xs:documentation>
														</xs:annotation>
														<xs:complexType>
															<xs:sequence>
																<xs:element name="year" type="xs:integer"/>
																<xs:element name="part_rate" type="xs:float"/>
																<xs:element ref="datainfo"/>
															</xs:sequence>
														</xs:complexType>
													</xs:element>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
										<xs:element name="resource" maxOccurs="unbounded">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="market" type="xs:string"/>
													<xs:element name="price" type="xs:double"/>
													<xs:element name="subresource" maxOccurs="unbounded">
														<xs:complexType>
															<xs:sequence>
																<xs:element name="name" type="xs:Name"/>
																<xs:element name="period" maxOccurs="unbounded">
																	<xs:complexType>
																		<xs:sequence>
																			<xs:element name="grade" maxOccurs="unbounded">
																				<xs:complexType>
																					<xs:sequence>
																						<xs:element name="name" type="xs:Name"/>
																						<xs:element name="year" type="xs:integer"/>
																						<xs:element name="available" type="xs:double"/>
																						<xs:element name="extractioncost" type="xs:double"/>
																						<xs:element name="environmentalcost" type="xs:double"/>
																						<xs:element name="severencetax" type="xs:double"/>
																						<xs:element name="techchange" type="xs:double"/>
																						<xs:element name="datainfo">
																							<xs:complexType>
																								<xs:sequence>
																									<xs:element name="unit" type="xs:string"/>
																									<xs:element name="source" type="xs:string"/>
																									<xs:element name="note" type="xs:string"/>
																								</xs:sequence>
																							</xs:complexType>
																						</xs:element>
																					</xs:sequence>
																				</xs:complexType>
																			</xs:element>
																		</xs:sequence>
																	</xs:complexType>
																</xs:element>
															</xs:sequence>
														</xs:complexType>
													</xs:element>
												</xs:sequence>
												<xs:attribute name="name" type="xs:string" use="required"/>
											</xs:complexType>
										</xs:element>
										<xs:element name="supplysector" maxOccurs="unbounded">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="name" type="xs:Name"/>
													<xs:element name="market" type="xs:string"/>
													<xs:element name="price" type="xs:double"/>
													<xs:element ref="subsector" maxOccurs="unbounded"/>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
										<xs:element name="demandsector" maxOccurs="unbounded">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="name" type="xs:Name"/>
													<xs:element name="market" type="xs:string"/>
													<xs:element name="price" type="xs:double"/>
													<xs:element name="serviceoutput" type="xs:double"/>
													<xs:element name="energyconsumption" type="xs:double"/>
													<xs:element name="priceelasticity" type="xs:double"/>
													<xs:element name="incomeelasticity" type="xs:double"/>
													<xs:element ref="subsector" maxOccurs="unbounded"/>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
										<xs:element name="ghgmarket" maxOccurs="unbounded">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="ghgname" type="xs:Name"/>
													<xs:element name="year" type="xs:integer"/>
													<xs:element name="market" type="xs:string"/>
													<xs:element name="constraint" type="xs:double"/>
													<xs:element name="note" type="xs:string"/>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
									<xs:attribute name="name" type="xs:string" use="required"/>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
			<xs:attribute name="name" type="xs:string" use="required"/>
			<xs:attribute name="date" type="xs:dateTime" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="datainfo">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="unit" type="xs:string"/>
				<xs:element name="source" type="xs:string"/>
				<xs:element name="note" type="xs:string"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="period">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="grade" maxOccurs="unbounded">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="name" type="xs:Name"/>
							<xs:element name="year" type="xs:integer"/>
							<xs:element name="available" type="xs:double"/>
							<xs:element name="extractioncost" type="xs:double"/>
							<xs:element name="environmentalcost" type="xs:double"/>
							<xs:element name="severencetax" type="xs:double"/>
							<xs:element name="techchange" type="xs:double"/>
							<xs:element name="datainfo">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="unit" type="xs:string"/>
										<xs:element name="source" type="xs:string"/>
										<xs:element name="note" type="xs:string"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="technology">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="period" maxOccurs="unbounded">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="name" type="xs:Name"/>
							<xs:element name="year" type="xs:integer"/>
							<xs:element name="fuelname" type="xs:Name"/>
							<xs:element name="sharewt" type="xs:double"/>
							<xs:element name="efficiency" type="xs:double"/>
							<xs:element name="nonenergycost" type="xs:double"/>
							<xs:element name="tax" type="xs:double"/>
							<xs:element name="logitexp" type="xs:double"/>
							<xs:element name="techchange" type="xs:double"/>
							<xs:element name="datainfo">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="unit" type="xs:string"/>
										<xs:element name="source" type="xs:string"/>
										<xs:element name="note" type="xs:string"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="GHG" maxOccurs="unbounded">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="name" type="xs:Name"/>
										<xs:element name="unit" type="xs:Name"/>
										<xs:element name="emisscoef" type="xs:double"/>
										<xs:element name="removefrac" type="xs:double"/>
										<xs:element name="GWP" type="xs:double"/>
										<xs:element name="datainfo">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="unit" type="xs:string"/>
													<xs:element name="source" type="xs:string"/>
													<xs:element name="note" type="xs:string"/>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="subsector">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="name" type="xs:Name"/>
				<xs:element name="capacitylimit" type="xs:double"/>
				<xs:element name="sharewt" type="xs:double"/>
				<xs:element name="logitexp" type="xs:double"/>
				<xs:element ref="technology" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
